
@model Invoice_Task.Index
<style>
    td {
        border-style: solid;
        border-width: 3px;
    }
</style>
<div style="margin:30px;">
    
    <a class="btn btn-success" href="/home/AddInvoice">Add new Invoice</a>
    <br />
    <br />
    <!--Table to view Invoices in the database-->
    <table class="table table-striped">
        <thead>
            <tr style="background-color:darkblue;color:white;">
                <td>Code</td>
                <td>Date</td>
                <td>Customer</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var InvoiceViewIitem in Model.invoiceViews)
                {
                    <tr>
                        @{
                            var ls = InvoiceViewIitem.GetAllvalues();
                            int i = 0;
                            foreach (var propValue in ls)
                            {
                                if (i == ls.Count - 1)
                                {
                                    <td>@propValue &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/AddInvoice?ActionType=Edit&id=@InvoiceViewIitem.Id" class="btn btn-warning">Edit</a>&nbsp;<a href="/home/AddInvoice?ActionType=Delete&id=@InvoiceViewIitem.Id&pagenum=@Model.Pagenum" class="btn btn-danger"  >Delete</a></td>
                                }
                                else
                                {
                                    <td>@propValue</td>
                                }
                                i++;
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
    <!--Pagination section-->
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td style="border-width:0px;">
                        <label style="margin-bottom:25px;"> Pagination (Page : @Model.Pagenum out of @Model.LastPagenum @Model.Pageorpages)</label>
                    </td>
                    <td style="border-width:0px;">
                        <a class="nav-link" href="?PageNum=@(Model.PreviousPagenum)" style="font-size:40px;">
                            &#9666;&#9666;
                        </a>

                    </td>
                    <td style="border-width:0px;">
                        <a href="" class="nav-link" style="font-size:40px;">&#9656;</a>
                    </td>
                    <td style="border-width:0px;">
                        <a class="nav-link" href="?PageNum=@(Model.NextPagenum)" style="font-size:40px;">
                            &#9656;&#9656;
                        </a>
                    </td>
                </tr>
            </thead>
        </table>
    </div>
</div>